@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* font-family: 'Barlow Condensed', sans-serif; */

/* font-family: 'Bellefair', serif; */

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.home_item {
  background: url("/img/mobile/Bitmap-up.png"), url("/img/mobile/Bitmap.png");
  background-repeat: no-repeat;
  background-position: top 0px left, left bottom -1px;
  background-size: 100% 40%, 100% 61%;
}

.home_item .container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home_item .container .icon-wrap .handbarger {
  width: 24px;
  height: 21px;
  cursor: pointer;
}

.home_item .container .icon-wrap .logo {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  background: url("/img/mobile/icon/logo.svg") no-repeat center center;
  cursor: pointer;
}

.home_item .container .icon-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_item .container .icon-wrap .header-links-wrap {
  display: none;
}

.home_item .container .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_item .container .content-wrap .data-wrap .title {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  margin-top: 48px;
}

.home_item .container .content-wrap .data-wrap .heading {
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px; /* 125% */
  padding: 16px 0;
}
.home_item .container .content-wrap .data-wrap .description {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  max-width: 327px;
}

.home_item .container .content-wrap .exploer-btn {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.home_item .container .content-wrap .exploer-btn:hover {
  outline: 40px solid rgba(255, 255, 255, 0.1036);
}

.home_item .container .content-wrap .exploer-btn p {
  color: #0b0d17;
  text-align: center;
  font-family: Bellefair;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25px;
}
/* 768px */
@media screen and (min-width: 48em) {
  .home_item {
    background: url("/img/tablet/Bitmap-up.png"), url("/img/tablet/Bitmap.png");
    background-repeat: no-repeat;
    background-position: top 0px left, left bottom -1px;
    background-size: 100% 40%, 100% 61%;
  }

  .home_item .container {
    padding: 0;
  }

  .home_item .container .icon-wrap .handbarger {
    display: none;
  }

  .home_item .container .icon-wrap .logo {
    width: 48px;
    height: 48px;
    background: url("/img/tablet/icon/logo.svg") no-repeat center center;
    margin-top: 20px;
    margin-left: 40px;
    background-size: 48px 48px;
  }

  .home_item .container .icon-wrap .header-links-wrap {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    width: 450px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
  }

  .home_item .container .icon-wrap .header-links-wrap a {
    text-decoration: none;
    color: #fff;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
  }

  .home_item .container .icon-wrap .header-links-wrap .active {
    text-decoration: underline 3px solid rgba(255, 255, 255, 1);
    text-underline-offset: 37px;
  }

  .home_item .container .icon-wrap .header-links-wrap a:hover {
    text-decoration: underline 3px solid rgba(255, 255, 255, 0.5);
    text-underline-offset: 37px;
  }

  .home_item .container .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home_item .container .content-wrap .data-wrap .title {
    margin-top: 106px;
    font-size: 20px;
  }

  .home_item .container .content-wrap .data-wrap .heading {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 150px;
  }
  .home_item .container .content-wrap .data-wrap .description {
    max-width: 444px;
    font-size: 16px;
  }

  .home_item .container .content-wrap .exploer-btn {
    width: 242px;
    height: 242px;
    margin-top: 158px;
    margin-bottom: 60px;
  }

  .home_item .container .content-wrap .exploer-btn:hover {
    outline: 60px solid rgba(255, 255, 255, 0.1036);
  }

  .home_item .container .content-wrap .exploer-btn p {
    font-size: 32px;
    letter-spacing: 2px;
  }
}

/* 992px */
@media screen and (min-width: 62em) {
}

/* 1200px */
@media screen and (min-width: 75em) {
  .home_item {
    background: url("/img/desktop/Bitmap.png"),
      url("/img/desktop/Bitmap-right.png");
    background-repeat: no-repeat;
    background-position: top 0px left 0, top 0 right -1px;
    background-size: 30% 100%, 71% 100%;
  }

  .home_item .container .icon-wrap .logo {
    margin-left: 55px;
    position: relative;
  }

  .home_item .container .icon-wrap .logo::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 32px;
    background: #fff;
    left: -54px;
    mix-blend-mode: luminosity;
    top: 7px;
  }

  .home_item .container .icon-wrap .header-links-wrap {
    margin-top: 30px;
    width: 600px;
    padding: 0 100px;
  }

  .home_item .container .icon-wrap .header-links-wrap a {
    display: flex;
    gap: 12px;
  }

  .home_item .container .content-wrap {
    display: flex;
    flex-direction: row;
    gap: 300px;
    max-width: 1200px;
    margin: 190px auto 100px;
  }

  .home_item .container .content-wrap .data-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home_item .container .content-wrap .data-wrap .title {
    font-size: 24px;
    letter-spacing: 4px;
  }

  .home_item .container .content-wrap .data-wrap .heading {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .home_item .container .content-wrap .data-wrap .description {
    text-align: left;
  }

  .home_item .container .content-wrap .exploer-btn {
    width: 260px;
    height: 260px;
    margin-bottom: 0;
  }

  .home_item .container .content-wrap .exploer-btn:hover {
    outline: 80px solid rgba(255, 255, 255, 0.1036);
  }

  .home_item .container .content-wrap .exploer-btn p {
    font-size: 28px;
    letter-spacing: 2px;
  }
}

/* 1366px */
@media (min-width: 85.375em) {
  .home_item .container .icon-wrap .header-links-wrap {
    margin-top: 45px;
    width: 600px;
    padding: 0 123px;
    position: relative;
  }

  .home_item .container .icon-wrap .logo {
    margin-top: 50px;
  }

  .home_item .container .icon-wrap .header-links-wrap::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.25);
    /* width: calc(100vw - 990px); */
    width: 30vw;
    right: 800px;
  }

  .home_item .container .content-wrap {
    gap: 390px;
    max-width: 1200px;
    margin: 250px auto 100px;
  }

  .home_item .container .content-wrap .data-wrap .title {
    font-size: 28px;
    letter-spacing: 4.725px;
  }
  .home_item .container .content-wrap .data-wrap .description {
    font-size: 18px;
    line-height: 32px;
  }

  .home_item .container .content-wrap .exploer-btn {
    width: 274px;
    height: 274px;
  }

  .home_item .container .content-wrap .exploer-btn:hover {
    outline: 88px solid rgba(255, 255, 255, 0.1036);
  }

  .home_item .container .content-wrap .exploer-btn p {
    font-size: 32px;
    letter-spacing: 2px;
  }
}
