.destination_item {
  background: url("/img/mobile/launch-veachile.png"),
    url("/img/mobile/technology-bg.png");
  background-repeat: no-repeat;
  background-position: top 140px center, center bottom 0;
  background-size: auto 222px, 100% 100%;
  background-color: #000;
}

.destination_item .container .content-wrap .data-wrap .data-title {
  font-size: 14px;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .destination-link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: none;
  opacity: 1;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .active {
  height: 40px;
  width: 40px;
  background: #fff;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .active
  span {
  color: #0b0d17 !important;
  text-align: center;
  font-family: Bellefair;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  z-index: 1;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .destination-link
  span {
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .destination-link:hover {
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  a:hover {
  text-decoration: none;
}

/* 768px */
@media screen and (min-width: 48em) {
  .destination_item {
    background: url("/img/tablet/launch-veachile.png"),
      url("/img/tablet/technology-bg.png");
    background-repeat: no-repeat;
    background-position: top 250px center, center bottom 0;
    background-size: auto auto, 100% 100%;
    background-color: #000;
    min-height: 1025px;
  }
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .active {
  height: 60px;
  width: 60px;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .destination-link {
  height: 60px;
  width: 60px;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .active
  span {
  font-size: 24px;
}

.destination_item
  .container
  .content-wrap
  .data-wrap
  .destination-link-wrap
  .destination-link
  span {
  font-size: 24px;
}

.destination_item .container .content-wrap .data-wrap .data-title {
  font-size: 16px;
  margin-top: 630px;
}

.destination_item .container .content-wrap .data-wrap .destination-link-wrap {
  top: 520px;
}

.destination_item .container .content-wrap .data-wrap .heading {
  padding-top: 16px;
}

/* 992px */
@media screen and (min-width: 62em) {
}

/* 1200px */
@media screen and (min-width: 75em) {
  .destination_item {
    background: url("/img/desktop/launch-veachile.png"),
      url("/img/desktop/technology-bg.png");
    background-repeat: no-repeat;
    background-position: top 375px right 20%, center bottom 0;
    background-size: auto 680px, 100% 100%;
    background-color: #000;
  }
}

/* 1366px */
@media (min-width: 85.375em) {
  .destination_item {
    background: url("/img/desktop/launch-veachile.png"),
      url("/img/desktop/technology-bg.png");
    background-repeat: no-repeat;
    background-position: top 315px right 20%, center bottom 0;
    background-size: auto 712px, 100% 100%;
    background-color: #000;
  }

  .home_item .container .content-wrap {
    /* min-width: 1366px; */
  }
}
